


input, button {
    border: none;
    outline: none;
}

.item-input {
    width: 100%;
}

button {
    background-color: transparent;
}

.items:hover .close {
    font-size: 16pt;
    font-family: monospace;
    display: block;
}

.close {
    display: none;
}

.items {
    font-size: 16pt;
    font-weight: 400;
}

.li-div {
    padding-left: 20px;
}

.line-through {
    color: #aaa;
    text-decoration: line-through;
}

.form-check-input {
    margin-right: 10px;
}

.active {
    background-color: #80C612;
    border-radius: 5px;
}

.inactive {
    background-color: transparent;
}

.active, .inactive {
    margin-right: 10px;
}

.filter-div {
    display: table;
    margin: 0px auto;
}

.filters {
    width: 100%;
}

.list-group {
    margin-top: 10px;
    -moz-box-shadow:    3px 3px 5px 3px #aaa;
    -webkit-box-shadow: 3px 3px 5px 3px #aaa;
    box-shadow:         3px 3px 5px 3px #aaa;
}