
input, button {
    border: none;
    outline: none;
}

.item-input {
    width: 100%;
}

button {
    background-color: transparent;
}

.items:hover .close {
    font-size: 16pt;
    font-family: monospace;
    display: block;
}

.close {
    display: none;
}

.items {
    font-size: 16pt;
    font-weight: 400;
}

.li-div {
    padding-left: 20px;
}

.form-check-input {
    margin-right: 10px;
}