


<ul class="list-group">

    <li class="list-group-item">

        <input class="item-input" type="text" (keydown.enter)="saveItem()" 
            [(ngModel)]="titleInput" placeholder="What needs to be done?">

    </li>

    <li class="list-group-item items" *ngFor="let item of todoList">
        <div class="li-div"
            [ngClass]="{'line-through': item.isCompleted}">

            <input class="form-check-input position-static" type="checkbox"
                [checked]="item.isCompleted"
                (change)="changeItemStatus(item.id)">

            {{ item.title }}

            <span class="close">
                <button (click)="deleteItem(item.id)"> x </button>
            </span>

        </div>
    </li>

    <li class="list-group-item filters">

        <div class="filter-div">
            <button *ngFor="let filter of filterOptions" (click)="filterItems(filter)"
                [ngClass]="chosenFilterValue == filter ? 'active' : 'inactive'">
                {{ filter.name }}
            </button>
        </div>

    </li>

</ul>